@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
}
body {
    margin: 0;
    padding: 0;
    height: 120vh;
    background-color: #1E2434;
    overflow: hidden; /* Esconde a barra de rolagem */
}
.none{
    display: none;
}
.overflow{
    overflow: visible; /* Revela a barra de rolagem, isso acontece após a introdução */
}
.overflow::-webkit-scrollbar {
    width: 8px;  /* Largura da barra de rolagem */
}
.overflow::-webkit-scrollbar-thumb {
    background-color: #4D89C1; /* Cor do thumb */
    border-radius: 10px;
}
.overflow::-webkit-scrollbar-track {
    background-color: #1E2434; /* Cor do fundo da barra */
}
.square1{
    width: 4000px;
    height: 1000px;
    background-color: #4D89C1;
    transform: rotate(-45deg);
    position: absolute;
    top: 60%; /* Posiciona a div no topo da tela */
    left: -20%; /* Posiciona a div na borda esquerda da tela */
    transform-origin: left center; /* A rotação será em torno da borda esquerda */
    transition: 1s ease-in-out;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}
.square2{
    width: 4000px;
    height: 1200px;
    background-color: #28293E;
    transform: rotate(-45deg);
    position: absolute;
    top: -50%;
    right: -11%;
    transform-origin: right center;
    transition: 1s ease-in-out;
    box-shadow: 0 -20px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.square1-animation{
    left: -95%;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}
.square2-animation{
    right: -95%;
    box-shadow: 0 -20px 8px rgba(0, 0, 0, 0.1);
}