body {
    margin: 0;
    padding: 0;
    height: 120vh; /* Garantir que o body ocupe 100% da altura da tela */
    background-color: #28293E;
    overflow: hidden; /* Evita barras de rolagem quando a div rotaciona */
}
.none{
    display: none;
}
.overflow{
    overflow: visible;
}
.overflow::-webkit-scrollbar {
    width: 8px;  /* Largura da barra de rolagem */
}
.overflow::-webkit-scrollbar-thumb {
    background-color: #4D89C1; /* Cor do thumb */
    border-radius: 10px;        /* Bordas arredondadas */
}
.overflow::-webkit-scrollbar-track {
    background-color: #28293E; /* Cor do fundo da barra */
}
.square1{
    width: 4000px;  /* 50% da largura da janela */
    height: 1000px;
    background-color: #4D89C1;
    transform: rotate(-45deg);
    position: absolute;
    top: 60%; /* Posiciona a div no topo da tela */
    left: -20%; /* Posiciona a div na borda esquerda da tela */
    transform-origin: left center; /* A rotação será em torno da borda esquerda */
    transition: 1s ease-in-out;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}
.square2{
    width: 4000px;
    height: 1200px;
    background-color: #28293E;
    transform: rotate(-45deg);
    position: absolute;
    top: -50%;
    right: -11%;
    transform-origin: right center;
    transition: 1s ease-in-out;
    box-shadow: 0 -20px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.square1-animation{
    left: -95%;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
}
.square2-animation{
    right: -95%;
    box-shadow: 0 -20px 8px rgba(0, 0, 0, 0.1);
}
#button-test{
    width: 300px;
    height: 300px;
    background-color: #4D89C1;
    border-radius: 8px;
    margin: 50px;
    transition: .3s ease-in-out;
}
#button-test:hover{
    transform: scale(1.1);
}